<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYEQ5pHlQApJG90bRnnFBeNM3QrbQ4Nmo</string>
	<key>GCM_SENDER_ID</key>
	<string>84568806524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.kr.schedulewith.scheduleWith</string>
	<key>PROJECT_ID</key>
	<string>schedulewith-7fd9a</string>
	<key>STORAGE_BUCKET</key>
	<string>schedulewith-7fd9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84568806524:ios:3088af4831d8856e4ae5f9</string>
</dict>
</plist>